body {
    font-family: Arial, sans-serif;
    background-color: #ffe200; /* Amarillo */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.mapa-mental {
    position: relative;
    width: 1000px;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nodo {
    position: absolute;
    background-color: #e63946; /* Rojo */
    color: #000; /* Negro para nodos */
    border: 2px solid #1d3557; /* Azul oscuro */
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%);
}

.principal {
    font-size: 36px; /* Incrementar tamaño del título */
    font-weight: bold;
    width: 300px;
    height: 120px;
    top: 50%;
    left: 50%;
    background-color: #1d3557; /* Azul oscuro */
    color: #fff; /* Mantener blanco para el título */
    border: 2px solid #e63946; /* Rojo */
}

.nodo-terminos {
    font-size: 20px;
    margin-top: 10px;
}

#concepto { top: 15%; left: 50%; width: 250px; height: 150px; }
#generaciones { top: 35%; left: 75%; width: 250px; height: 150px; }
#responsabilidad { top: 55%; left: 75%; width: 250px; height: 150px; }
#caracteristicas { top: 85%; left: 50%; width: 250px; height: 150px; }
#violaciones { top: 55%; left: 25%; width: 250px; height: 150px; }
#dih { top: 35%; left: 25%; width: 250px; height: 150px; }

.secundario {
    background-color: #a8dadc; /* Celeste */
    border: 2px solid #457b9d; /* Azul */
    font-size: 20px; /* Incrementar tamaño del texto en nodos secundarios */
    padding: 20px; /* Ajustar padding */
}

.terciario {
    background-color: #f1faee; /* Blanco */
    color: #1d3557; /* Azul oscuro */
    margin: 5px auto;
    font-size: 16px;
}

.nodo span {
    font-weight: bold; /* Font weight para títulos */
    display: block; /* Bloque para título */
}
