body {
    font-family: Arial, sans-serif;
    background-color: #ffe200; /* Amarillo */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.mapa-mental {
    position: relative;
    width: 900px;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nodo {
    position: absolute;
    background-color: #e63946; /* Rojo */
    color: #fff;
    border: 2px solid #1d3557; /* Azul oscuro */
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%);
}

.principal {
    font-size: 24px;
    font-weight: bold;
    width: 200px;
    height: 80px;
    top: 50%;
    left: 50%;
    background-color: #1d3557; /* Azul oscuro */
    color: #fff;
    border: 2px solid #e63946; /* Rojo */
}

.nodo-terminos {
    font-size: 16px;
    margin-top: 5px;
}

#concepto { top: 15%; left: 50%; width: 240px; height: 120px; }
#generaciones { top: 30%; left: 75%; width: 270px; height: 140px; }
#responsabilidad { top: 65%; left: 75%; width: 270px; height: 140px; }
#caracteristicas { top: 85%; left: 50%; width: 270px; height: 140px; }
#violaciones { top: 65%; left: 25%; width: 270px; height: 140px; }
#dih { top: 30%; left: 25%; width: 270px; height: 140px; }

.secundario {
    background-color: #a8dadc; /* Celeste */
    border: 2px solid #457b9d; /* Azul */
    padding: 15px;
}

.terciario {
    background-color: #f1faee; /* Blanco */
    color: #1d3557; /* Azul oscuro */
    margin: 5px auto;
    font-size: 14px;
}

/* Media query to adjust for printing */
@media print {
    body, .mapa-mental {
        width: 100%;
        height: 100%;
    }

    .nodo {
        page-break-inside: avoid;
    }

    .principal, .secundario {
        border: 2px solid #000; /* Ensure border is visible when printing */
    }
}
